**/zig-cache
**/zig-out
**/artifacts
.DS_Store
**/*.bin
**/*.pgn
**/*.bson
*.epd

# Private for now
marlinflow/**/*
marlinflow
lichess-bot
zig/
.vscode
old_binaries

weather-factory/**/*
weather-factory

testing/
cutechess-cli

*.json